<%- include('../partials/header') %>

<div class="d-flex justify-content-between align-items-center">
    <h2>상품</h2>
    <a href="/admin/products/add-product" class="btn btn-primary">+</a>
</div>


<%- include('../partials/footer') %>